<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>hello</title>
</head>
<body>
<ul id="nav">
    <li><a href="http://www.divcss5.com/">首页</a></li>
    <li><a href="http://www.divcss5.com/html/">HTML教程</a></li>
    <li><a href="http://www.divcss5.com/rumen/">CSS基础</a></li>
    <li><a href="http://www.divcss5.com/css-tool/">CSS开发工具</a></li>
    <li><a href="http://www.divcss5.com/css-texiao/">CSS特效</a></li>
    <li><a href="http://www.divcss5.com/wenji/">CSS问题</a></li>
</ul>
<ul id="navi" >
    <li>首页</li><li>梦想</li><li>理想</li>
</ul>

</body>
<nav>
<a href="www.baidu.com">Home</a>
<a href="html5_meter.asp">Previous</a>
<a href="html5_noscript.asp">Next</a>
</nav>
{{ for item in  }}
</html>