<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>陌声</title>
</head>
<body>
<div class="container">
    <p>
         <h2>this is help page,you can ask what you do you want to ask</h2>
         <h1>for special reason  ,i just want to get some special reason </h1>
    </p>

    <p>
        <button name="helpButton" onclick="dohelp()">帮助</button>
    </p>
    <p>
        <button name="scrapyButton" onclick="doSpider()">爬虫</button>
    </p>

</div>
 <script>
        function dohelp() {
           alert('help')
        }
        function doSpider() {

           alert('spider')
        }
 </script>


</body>
</html>