<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div class="base_login">
    <h1>用户登录</h1>
</div>
<div>
    <form method="post">
    {{ form.hidden_tag() }}

        <p>

            用户:{{ form.username(size=20,id='name') }}
            {% for e in form.username.errors %}
            <span style="color:red">{{ e }}</span>
            {% endfor %}
        </p>
    <p>
        密码:{{ form.passwd(size=20,id='passwd') }}
         {% for e in form.passwd.errors %}
         <span style="color:red">{{ e }}</span>
            {% endfor %}

    </p>
    <p><button style="float: right" type="submit">登录</button></p>
    </form>
</div>

</body>
</html>