<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>陌声-匹配</title>
</head>
<body>
<img src="../static/pics/logo.jpg" style="scroll-padding:">
<input type="search" aria-valuetext="hello ">
<input type="submit">
<video src="../static/video/1.mp4" style="width: 500px "></video>
<div class="nav-tabs">
    <ul>
        <li>
            <a href="/home/" style="background: scroll">首页</a>
        </li>
        <li>
            好友
        </li>
        <li>
            注册
        </li>
    </ul>
</div>
</body>
</html>