<!DOCTYPE html>
<html lang="gbk">
<head>
    <h1>this is tets page</h1>
</head>
<body>
<a href="https://www.qq.com" title="陌声，来自另一个世界"></a>
<div class="main">
    <header class="header">
        <div class="container">
            <div class="logo">
                <a href="www.baidu.com" title="陌声，来自另一个世界">
                    <img src="eg_bulbon.gif">
                </a>
            </div>
        </div>
    </header>
    <ul>
        <li>
             首页
        </li>
        <li>
            "好友
        </li>
        <li>
            帮助
        </li>
    </ul>
</div>

</body>